@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap');


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}













  html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	color: #000000;
}




/* Header styles stert */

/*.header {
	background-color: #000;
}*/

.wrapper {
	max-width: 1680px;
	margin: 0 auto;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	padding-top: 43px;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
}

.header__item {
	margin-right: 85px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__link {
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 33px;
	/*color: #FFFFFF;*/
	text-decoration: none;
}


/* В навигации псевдоклассы отвечают за потемнение при наведении, 
смене при нажатии на TAB и потемнение при активности 
(когда ссылка работает пункт темнеет) */
.header__link:hover, .header__link:focus, .header__link:active {
	opacity: .75;
}


/* Header styles end */


/* Intro styles stert */

.intro {
	height: 100vh;
	background: url(../images/skachenie/intro-background.jpg) no-repeat center;
	background-size: cover;
	padding-top: 171px;
}

.intro__title {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
}

.intro__title__two {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 900;
	font-size: 105px;
	line-height: 126px;
	color: #FFFFFF;
}


/* Intro styles end */